html {
  font-family: Roboto
}

body, h1, h2, ul, p {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 0 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 0;
}

.header h1 {
  font-size: 24px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.presentation {
  display: flex;
  padding: 128px 0;
  gap: 48px;
}

.presentation .left {
  flex: 1;
}

.presentation .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
}

.presentation p {
  font-size: 18px;
  color: #E5E7EB;
}

.presentation button {
  margin-top: 12px;
  border: none;
  border-radius: 4px;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 4px 16px;
  font-size: 16px;
}

.informations, .quote, .call {
  
}

.informations {
  text-align: center;

}

.informations h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}