html {
  font-family: Roboto
}

body, h1, h2, ul, p {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 0 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 0;
}

.header h1 {
  font-size: 24px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.header a {
  color: #F9FAF8;
  text-decoration: none;
}

.presentation {
  display: flex;
  padding: 128px 0;
  gap: 48px;
}

.presentation .left {
  flex: 1;
}

.presentation .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
}

.presentation p {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  border: none;
  border-radius: 4px;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 4px 16px;
  font-size: 16px;
}

.presentation button {
  margin-top: 12px;
}

.informations {
  padding: 128px 20%;
}

.informations {
  text-align: center;
  padding-top: 48px;
}

.informations h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.info-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 48px;
}

.info {
  text-align: center;
}

.square {
  border: 2px #3882F6 solid;
  width: 150px;
  height: 150px;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.text {
  text-align: center;
  color: gray;
}

.quote {
  background-color: #E5E7EB;
  padding: 128px 21%;
}

.quote .text {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: 300;
  text-align: start;
}

.quote .creator {
  text-align: end;
  font-size: 18px;
  font-weight: 600;
}

.call {
  padding: 128px 10%;
}

.call-container {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  padding: 48px 128px;

  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call-container button {
  border: 2px solid #F9FAF8;
}

.call-container p:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
}

.footer {
  padding: 48px 0;
  text-align: center;
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 14px;
}